body {
    background-color: rgb(180, 180, 200);
    color: rgb(60, 60, 80);
}

body.dark-mode {
    background-color: rgb(60, 60, 80);
    color: rgb(180, 180, 200);
}

a:link { color: rgb(40, 80, 40); }

a:visited { color: rgb(40, 150, 40); }

a:hover { color: rgb(90, 250, 20); }

body.dark-mode a:link { color: rgb(160, 90, 160); }

body.dark-mode a:visited { color: purple; }

body.dark-mode a:hover { color: hotpink; }

/* Prefered to use the Tagerine font for headers (Open Font Liscence)
    Submission will only display Brush Script MT because font was
    downloaded and cannot be submitted. Used download method so as not 
    to change the html files */
@font-face {
    font-family: Tangerine;
    src: url(fonts/Tangerine/Tangerine-Bold.ttf);
} 

h1, h2, h3 { 
    color: rgb(40, 80, 100); 
    font-family: 'Tangerine', 'Brush Script MT', cursive;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 { 
    color: rgb(140, 180, 200); 
}