body {
    background-color: rgb(180, 180, 200);
    color: rgb(60, 60, 80);
}

body.dark-mode {
    background-color: rgb(60, 60, 80);
    color: rgb(180, 180, 200);
}

a:link { color: rgb(40, 80, 40); }

a:visited { color: rgb(40, 150, 40); }

a:hover { color: rgb(150, 165, 60); }

body.dark-mode a:link { color: rgb(160, 90, 160); }

body.dark-mode a:visited { color: purple; }

body.dark-mode a:hover { color: hotpink; }

h1, h2, h3 { color: rgb(40, 80, 100); }

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 { color: rgb(140, 180, 200); }