body {
    background-color: rgb(180, 180, 200);
    color: rgb(60, 60, 80);
}

body.dark-mode {
    background-color: rgb(60, 60, 80);
    color: rgb(180, 180, 200);
}

a:link {
    color: purple;
}

a:visited {
    color: rgb(160, 90, 160);
}

a:hover {
    color: hotpink;
}

body.dark-mode a {
    color: aquamarine;
}

body.dark-mode a:visited {
    color: rgb(20, 190, 120);
}

body.dark-mode a:hover {
    color: aqua;
}